

* {
  margin:0;
  padding:0;
  text-decoration: none;
}
.container {
  display: flex;

}
main{
  width: 100%;
  padding: 20px;

}
.sidebar {
  background: #1d4b78;
  color: white;
  /* height: 100vh; */  /* Remove this line */
  min-height: 100vh;   /* Add this line */
  width: 300px;
  transition: all 0.5s;
  position: sticky;    /* Add this line to keep the sidebar in view */
  top: 0;             /* Add this line to start sidebar at the top */
}
.top_section{
  display: flex;
  align-items: center;
  padding:20px 15px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 70px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}