.graphContainer {
  width: 100%;
  height: 400px; 
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}



.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; 
  max-width: 800px;
  height: 600px;
  margin: auto;
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedbackHeading h2 {
  font-size: 24px;
  color: #333; 
  margin-bottom: 20px;
}

.backbtn {
  background: linear-gradient(45deg, #1d4b78, #87CEEB);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-self: flex-start; 
}

.backbtn:hover {
  background: linear-gradient(45deg, #87CEEB, #1d4b78);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.feedback-textarea {
  width: 100%;
  height: auto; 
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  transition: border-color 0.3s;
}

.feedback-textarea:focus {
  border-color: #007bff;
  outline: none; 
}

.feedback-textarea-error {
  border-color: #dc3545; 
}

.submit-button {
  margin-top: 30px;
  background: linear-gradient(45deg, #1d4b78, #87CEEB);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
  background: linear-gradient(45deg, #87CEEB, #1d4b78);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}


.Toastify__toast-container {
  z-index: 9999; 
}
