@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -10px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .welcome-animation {
    animation: fadeInDown 1.5s ease-out forwards;
  }
 
  
.main-content {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
  }
  
  .main-content h1 {
    color: #1d4b78;
    font-size: 24px;
  }
  
  .description {
    color: #333; 
    font-size: 16px; 
    line-height: 1.6; 
    text-align: justify;
    hyphens: auto;
    white-space: pre-wrap;
  }
  
  