.solution {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-bottom: 20px;
    padding: 10px;
    width: 100%; 
    
}

.solution span {
    flex-grow: 1; 
    margin-right: 50px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    padding-right: 10px; 
}

.solution button {
    margin-top: 10px;
    margin-right: 100px;
    min-width: 80px; 
    background-color: #1d4b78;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.solution button:hover{
    background-color: lightskyblue;
    color: black;
}

.create-test-button{
    margin-right: 100px;
    min-width: 80px; 
    background-color: #1d4b78;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.create-test-button:hover{
    background-color: lightskyblue;
    color: black;
}
.category{
    padding: 7px 10px;
    border-radius: 5px;
    border-color: #1d4b78;
    cursor: pointer;
}

