/* Container for the entire component */
.standard-solutions-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full screen height */
    padding: 20px;
}

/* Graph display area above the list */
.graph-display-area {
    height: 40vh;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    margin-bottom: 20px; 
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}


/* Scrollable Graph List below the graph */
.graph-list {
    height: 50vh; /* Adjust height for the list container */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 15px;
}

/* Individual graph container in the list */
.solution {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Styling for the graph name and date container on the right */
.solution-details {
    text-align: right; /* Align text to the right */
    display: flex;
    flex-direction: column;
}

/* Name and Date Styling */
.solution-name {
    font-weight: bold;
    margin-bottom: 5px;
    color:#1d4b78;
}

.solution-date {
    font-size: 0.85rem;
    color: #666;
}

.create-test-button{
    background: linear-gradient(45deg, #1d4b78, #87CEEB);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
}

/* Button for viewing the graph (aligned on the left) */
.solution button,.closebtn {
    background: linear-gradient(45deg, #1d4b78, #87CEEB);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}
.closebtn:hover{
    background: linear-gradient(45deg, #87CEEB, #1d4b78);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.solution button,.create-test-button:hover {
    background: linear-gradient(45deg, #87CEEB, #1d4b78);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/* Loading spinner centered */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
