 
  
  
  .trans-button:hover {
    background: linear-gradient(45deg, #87CEEB, #1d4b78);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .trans-button:active {
    transform: translateY(2px);
  }


  .analyz-button {
    width: 200px;
    background: linear-gradient(45deg, #1d4b78, #87CEEB);
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-right: 40px; /* Added margin */
  }
  
  .trans-button {
    width: 200px;
    background: linear-gradient(45deg, #1d4b78, #87CEEB);
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    justify-content: center;
    margin-top: 3%;
    font-size: 1.2em;
    padding: 15px 60px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 40px; /* Added margin */
  }
  
  
  .analyz-button:hover {
    background: linear-gradient(45deg, #87CEEB, #1d4b78);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .analyz-button:active {
    transform: translateY(2px);
  }
 
 
  .selected-sentence {
    width: 45%;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    direction: rtl;
    resize: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Consistent box-shadow */
    
  }


  .translated-sentence {
    width: 45%;
    height: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;
    resize: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .translated-sentence {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    direction: ltr;
  }
  /*.translate-button, .analyze-button {
    padding: 10px 20px;
  }*/
  .export-button {
    margin-top: 10px;
    width: 200px;
    background: linear-gradient(45deg, #1d4b78, #87CEEB);
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
   
    font-size: 1.1em;
    padding: 15px 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
   
  }
  
  .export-button:hover {
    background: linear-gradient(45deg, #87CEEB, #1d4b78);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .export-button:active {
    transform: translateY(2px);
  }
/*.translated-sentence{
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 500px;
}*/

.upload-button{
  margin-top: 40px;
    padding: 10px 20px;
    background-color: #1d4b78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.upload-button:hover {
  background-color: lightskyblue;
  color: black;
}



















