.submit {
    margin-right: 100px;
    min-width: 80px; 
    background-color: #1d4b78;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.submit:hover{
    background-color: lightskyblue;
    color: black;
}
.quit {
    margin-right: 100px;
    min-width: 80px; 
    background-color: #1d4b78;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.quit:hover{
    background-color: lightskyblue;
    color: black;
}
.graphs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto; 
    position: relative;
    margin-bottom: 20px;
}

.graph-info {
    display: flex;
    flex-direction: column; 
    margin-left: 20px; 
}

.graph-name {
    font-weight: bold;
    color:#1d4b78
}

.date {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    text-align: right;
}

.taketest {
    margin-left: 20px;
    background: linear-gradient(45deg, #1d4b78, #87CEEB);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.taketest:hover {
    background: linear-gradient(45deg, #87CEEB, #1d4b78);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}