.text-analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  direction: rtl;
  /*width: 100%;*/
}

.text-input {
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
  direction: rtl; 
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: vertical; /* Allow resizing of the text area */
}

.results-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  direction: ltr; 
}

.sentences-list {
  width: 45%;
  height: auto;
  background-color: #f0f0f0;
  padding: 10px;
  direction: rtl;
  border-radius: 10px;
  margin-right: 10px;
}

.sentences-list div {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.sentences-list div:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.selected-sentence {
  width: 45%;
  height: auto;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  direction: rtl;
}

.start-button {
  
  width: 200px;
  background: linear-gradient(45deg, #1d4b78, #87CEEB);
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 15px 30px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.start-button:hover {
  background: linear-gradient(45deg, #87CEEB, #1d4b78);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.start-button:active {
  transform: translateY(2px);
}

.translation-section {
  width: 80%;
  height: auto;
  margin-top: 60px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.translation-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  direction: ltr;
}
.proceed-text-button{
  margin-top: 0;
}



.analyze-text-button-wrapper {
  width: 80%;
  display: flex;
  justify-content: flex-end; /* Move the button to the left */
  margin-top: 20px; /* Adjust this for vertical spacing */
}

.analyze-text-button {
  margin-left: 11.5%; /* Adjust spacing from the left as needed */
  margin-top: 0;
}

@media (max-width: 1230px) {
  .translate-button-uploadtext 
  {
    max-width: 65%;
    
  }
  .analyze-text-button{
    margin-left: 9%; 
  }
}

@media (max-width: 1024px) {
  .translate-button-uploadtext 
  {
    max-width: 65%;
    
  }
  .analyze-text-button{
    margin-left: 7.5%; 
  }
}


@media (max-width: 930px) {
  .translate-button-uploadtext 
  {
    max-width: 65%;
    
  }
  .analyze-text-button{
    margin-left: 6.5%; 
  }
  .proceed-text-button{
    max-width: 40%;
  }
}


@media (max-width: 850px) {
  .translate-button-uploadtext 
  {
    max-width: 65%;
    
  }
  .analyze-text-button{
    margin-left: 4.5%; 
  }
  .proceed-text-button{
    max-width: 40%;
  }
}



@media (max-width: 780px) {
  .translate-button-uploadtext 
  {
    max-width: 65%;
    
  }
  .analyze-text-button{
    margin-left: 3%; 
  }
  .proceed-text-button{
    min-width: 30%;
  }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .text-input {
    width: 90%;
  }
  
  .results-container {
    flex-direction: column;

    width: 90%;
  }
  .translate-button-uploadtext 
  {
    max-width: 65%;
    
  }
  .analyze-text-button{
    margin-left: 10%; 
  }
  .selected-sentence{
    order: 2;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .sentences-list {
    order: 1;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .start-button {
    width: 30%;
    font-size: 1em;
    padding: 10px 20px;
  }
  .translation-section {
    width: 100%;
  }
  .proceed-text-button{
    max-width: 40%;
  }
  
}

@media (max-width: 480px) {
  .text-input {
    height: 120px;
    
  }
  .translate-button-uploadtext 
  {
    max-width: 75%;
  }
.analyze-text-button{
      margin-left: 3.5%; 
  }
  
  .start-button {
    padding: 8px 16px;
    font-size: 0.9em;
    width: 20%;
  }

  .translation-section {
    width: 100%;
  }
  .proceed-text-button{
    max-width: 45%;
  }

}

